neovim      latest
starship    latest
bottom      latest
exa         latest
fd          latest
glow        latest
yq          latest
jq          latest
nodejs      18.14.2
pnpm        latest
shfmt       latest
shellcheck  latest
bpkg        latest
hyperfine   latest
bat         latest
fzf         latest
rust        latest
golang      latest
